/*accueil-admin.component.css*/
p {
    background-color: green; 
    border-radius: 4px;
    font-family: cursive;
    padding: 1rem;
    color:white;
  }
  
  h3 {
    color: #000; 
    text-align: center;
  }